[flake8]
max-line-length = 120
extend-ignore = E501,W503
extend-select = E504
exclude =
    .git,
    __pycache__,
    fact_extractor/bin,
per-file-ignores =
    fact_extractor/plugins/*: E402
    fact_extractor/install/install.py: E402
