# this reduced build config contains only the needed tools for the extractor
FREETZ_HAVE_DOT_CONFIG=y
FREETZ_PACKAGE_HASERL=y
FREETZ_PACKAGE_INETD=y
FREETZ_PACKAGE_JUIS_CHECK=y
FREETZ_PACKAGE_MOD=y
FREETZ_PACKAGE_MODCGI=y
FREETZ_BOX_CERTIFICATE_SUPPORT_AVAILABLE=y
FREETZ_PACKAGE_SFK=y
FREETZ_PACKAGE_SFK_STATIC=y
FREETZ_PACKAGE_SQUASHFS3=y
FREETZ_PACKAGE_SQUASHFS3_ALL_STAT=y
FREETZ_PACKAGE_SQUASHFS4_BE=y
FREETZ_PACKAGE_SQUASHFS4_BE_LEGACY=y
FREETZ_PACKAGE_SQUASHFS4_BE_ALL_STAT=y
FREETZ_PACKAGE_SQUASHFS4_LE=y
FREETZ_PACKAGE_SQUASHFS4_LE_LEGACY=y
FREETZ_PACKAGE_SQUASHFS4_LE_ALL_STAT=y
FREETZ_WGET=y
FREETZ_PACKAGE_SYSLOGD_CGI=y
FREETZ_LIB_libgcc_s=y
FREETZ_MODULES_OWN=""
FREETZ_BUSYBOX__VERSION_V136=y
FREETZ_BUSYBOX__VERSION_STRING="1.36.0"
FREETZ_BUSYBOX__RECOMMENDED=y
FREETZ_BUSYBOX__MANDATORY=y
FREETZ_BUSYBOX__MANDATORY_05_2X=y
FREETZ_BUSYBOX__MANDATORY_06_5X=y
FREETZ_BUSYBOX__MANDATORY_07_0X=y
FREETZ_BUSYBOX__MANDATORY_07_2X=y
FREETZ_BUSYBOX__MANDATORY_07_25=y
FREETZ_BUSYBOX__BUILD_TIMESTAMP=y
FREETZ_BUSYBOX__KEEP_BINARIES=y
FREETZ_BUSYBOX__IPV6_UTILS=y
FREETZ_BUSYBOX_ADDGROUP=y
FREETZ_BUSYBOX_ADDUSER=y
FREETZ_BUSYBOX_AR=y
FREETZ_BUSYBOX_ARP=y
FREETZ_BUSYBOX_ARPING=y
FREETZ_BUSYBOX_ASH=y
FREETZ_BUSYBOX_ASH_ALIAS=y
FREETZ_BUSYBOX_ASH_BASH_COMPAT=y
FREETZ_BUSYBOX_ASH_BASH_NOT_FOUND_HOOK=y
FREETZ_BUSYBOX_ASH_CMDCMD=y
FREETZ_BUSYBOX_ASH_ECHO=y
FREETZ_BUSYBOX_ASH_EXPAND_PRMT=y
FREETZ_BUSYBOX_ASH_GETOPTS=y
FREETZ_BUSYBOX_ASH_INTERNAL_GLOB=y
FREETZ_BUSYBOX_ASH_JOB_CONTROL=y
FREETZ_BUSYBOX_ASH_OPTIMIZE_FOR_SIZE=y
FREETZ_BUSYBOX_ASH_PRINTF=y
FREETZ_BUSYBOX_ASH_RANDOM_SUPPORT=y
FREETZ_BUSYBOX_ASH_TEST=y
FREETZ_BUSYBOX_AWK=y
FREETZ_BUSYBOX_BASE64=y
FREETZ_BUSYBOX_BASENAME=y
FREETZ_BUSYBOX_BBCONFIG=y
FREETZ_BUSYBOX_BB_SYSCTL=y
FREETZ_BUSYBOX_BEEP=y
FREETZ_BUSYBOX_BRCTL=y
FREETZ_BUSYBOX_BUNZIP2=y
FREETZ_BUSYBOX_BUSYBOX=y
FREETZ_BUSYBOX_BZCAT=y
FREETZ_BUSYBOX_BZIP2=y
FREETZ_BUSYBOX_CAT=y
FREETZ_BUSYBOX_CHGRP=y
FREETZ_BUSYBOX_CHMOD=y
FREETZ_BUSYBOX_CHOWN=y
FREETZ_BUSYBOX_CHROOT=y
FREETZ_BUSYBOX_CHRT=y
FREETZ_BUSYBOX_CMP=y
FREETZ_BUSYBOX_CP=y
FREETZ_BUSYBOX_CPIO=y
FREETZ_BUSYBOX_CROND=y
FREETZ_BUSYBOX_CRONTAB=y
FREETZ_BUSYBOX_CRYPTPW=y
FREETZ_BUSYBOX_CUT=y
FREETZ_BUSYBOX_DATE=y
FREETZ_BUSYBOX_DD=y
FREETZ_BUSYBOX_DELGROUP=y
FREETZ_BUSYBOX_DELUSER=y
FREETZ_BUSYBOX_DF=y
FREETZ_BUSYBOX_DIRNAME=y
FREETZ_BUSYBOX_DMESG=y
FREETZ_BUSYBOX_DNSDOMAINNAME=y
FREETZ_BUSYBOX_DU=y
FREETZ_BUSYBOX_ECHO=y
FREETZ_BUSYBOX_EGREP=y
FREETZ_BUSYBOX_ENV=y
FREETZ_BUSYBOX_ETHER_WAKE=y
FREETZ_BUSYBOX_EXPR=y
FREETZ_BUSYBOX_EXPR_MATH_SUPPORT_64=y
FREETZ_BUSYBOX_FACTOR=y
FREETZ_BUSYBOX_FALSE=y
FREETZ_BUSYBOX_FEATURE_ADDUSER_TO_GROUP=y
FREETZ_BUSYBOX_FEATURE_ALLOW_EXEC=y
FREETZ_BUSYBOX_FEATURE_BRCTL_FANCY=y
FREETZ_BUSYBOX_FEATURE_BRCTL_SHOW=y
FREETZ_BUSYBOX_FEATURE_COMPRESS_BBCONFIG=y
FREETZ_BUSYBOX_FEATURE_COMPRESS_USAGE=y
FREETZ_BUSYBOX_FEATURE_DATE_COMPAT=y
FREETZ_BUSYBOX_FEATURE_DATE_ISOFMT=y
FREETZ_BUSYBOX_FEATURE_DD_IBS_OBS=y
FREETZ_BUSYBOX_FEATURE_DD_SIGNAL_HANDLING=y
FREETZ_BUSYBOX_FEATURE_DD_STATUS=y
FREETZ_BUSYBOX_FEATURE_DEL_USER_FROM_GROUP=y
FREETZ_BUSYBOX_FEATURE_DEVPTS=y
FREETZ_BUSYBOX_FEATURE_DF_FANCY=y
FREETZ_BUSYBOX_FEATURE_DMESG_PRETTY=y
FREETZ_BUSYBOX_FEATURE_DU_DEFAULT_BLOCKSIZE_1K=y
FREETZ_BUSYBOX_FEATURE_EDITING=y
FREETZ_BUSYBOX_FEATURE_EDITING_FANCY_PROMPT=y
FREETZ_BUSYBOX_FEATURE_EDITING_WINCH=y
FREETZ_BUSYBOX_FEATURE_ENV_LONG_OPTIONS=y
FREETZ_BUSYBOX_FEATURE_FANCY_ECHO=y
FREETZ_BUSYBOX_FEATURE_FANCY_HEAD=y
FREETZ_BUSYBOX_FEATURE_FANCY_PING=y
FREETZ_BUSYBOX_FEATURE_FANCY_SLEEP=y
FREETZ_BUSYBOX_FEATURE_FANCY_TAIL=y
FREETZ_BUSYBOX_FEATURE_FAST_TOP=y
FREETZ_BUSYBOX_FEATURE_FIND_DEPTH=y
FREETZ_BUSYBOX_FEATURE_FIND_EXEC=y
FREETZ_BUSYBOX_FEATURE_FIND_GROUP=y
FREETZ_BUSYBOX_FEATURE_FIND_INUM=y
FREETZ_BUSYBOX_FEATURE_FIND_MAXDEPTH=y
FREETZ_BUSYBOX_FEATURE_FIND_MMIN=y
FREETZ_BUSYBOX_FEATURE_FIND_MTIME=y
FREETZ_BUSYBOX_FEATURE_FIND_NEWER=y
FREETZ_BUSYBOX_FEATURE_FIND_NOT=y
FREETZ_BUSYBOX_FEATURE_FIND_PAREN=y
FREETZ_BUSYBOX_FEATURE_FIND_PATH=y
FREETZ_BUSYBOX_FEATURE_FIND_PERM=y
FREETZ_BUSYBOX_FEATURE_FIND_PRINT0=y
FREETZ_BUSYBOX_FEATURE_FIND_PRUNE=y
FREETZ_BUSYBOX_FEATURE_FIND_REGEX=y
FREETZ_BUSYBOX_FEATURE_FIND_SIZE=y
FREETZ_BUSYBOX_FEATURE_FIND_TYPE=y
FREETZ_BUSYBOX_FEATURE_FIND_USER=y
FREETZ_BUSYBOX_FEATURE_FIND_XDEV=y
FREETZ_BUSYBOX_FEATURE_FTPGETPUT_LONG_OPTIONS=y
FREETZ_BUSYBOX_FEATURE_GETOPT_LONG=y
FREETZ_BUSYBOX_FEATURE_GREP_CONTEXT=y
FREETZ_BUSYBOX_FEATURE_HEXDUMP_REVERSE=y
FREETZ_BUSYBOX_FEATURE_HTTPD_AUTH_MD5=y
FREETZ_BUSYBOX_FEATURE_HTTPD_BASIC_AUTH=y
FREETZ_BUSYBOX_FEATURE_HTTPD_CGI=y
FREETZ_BUSYBOX_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR=y
FREETZ_BUSYBOX_FEATURE_HTTPD_ENCODE_URL_STR=y
FREETZ_BUSYBOX_FEATURE_HUMAN_READABLE=y
FREETZ_BUSYBOX_FEATURE_HWIB=y
FREETZ_BUSYBOX_FEATURE_IFCONFIG_BROADCAST_PLUS=y
FREETZ_BUSYBOX_FEATURE_IFCONFIG_HW=y
FREETZ_BUSYBOX_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ=y
FREETZ_BUSYBOX_FEATURE_IFCONFIG_SLIP=y
FREETZ_BUSYBOX_FEATURE_IFCONFIG_STATUS=y
FREETZ_BUSYBOX_FEATURE_IFUPDOWN_IP=y
FREETZ_BUSYBOX_FEATURE_IFUPDOWN_IPV4=y
FREETZ_BUSYBOX_FEATURE_IFUPDOWN_IPV6=y
FREETZ_BUSYBOX_FEATURE_IFUPDOWN_MAPPING=y
FREETZ_BUSYBOX_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN=y
FREETZ_BUSYBOX_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME=y
FREETZ_BUSYBOX_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD=y
FREETZ_BUSYBOX_FEATURE_INETD_SUPPORT_BUILTIN_ECHO=y
FREETZ_BUSYBOX_FEATURE_INETD_SUPPORT_BUILTIN_TIME=y
FREETZ_BUSYBOX_FEATURE_INIT_MODIFY_CMDLINE=y
FREETZ_BUSYBOX_FEATURE_INIT_QUIET=y
FREETZ_BUSYBOX_FEATURE_INIT_SCTTY=y
FREETZ_BUSYBOX_FEATURE_INIT_SYSLOG=y
FREETZ_BUSYBOX_FEATURE_IP_ADDRESS=y
FREETZ_BUSYBOX_FEATURE_IPC_SYSLOG=y
FREETZ_BUSYBOX_FEATURE_IP_LINK=y
FREETZ_BUSYBOX_FEATURE_IP_NEIGH=y
FREETZ_BUSYBOX_FEATURE_IP_ROUTE=y
FREETZ_BUSYBOX_FEATURE_IP_RULE=y
FREETZ_BUSYBOX_FEATURE_IP_TUNNEL=y
FREETZ_BUSYBOX_FEATURE_IPV6=y
FREETZ_BUSYBOX_FEATURE_KILL_REMOVED=y
FREETZ_BUSYBOX_FEATURE_KLOGD_KLOGCTL=y
FREETZ_BUSYBOX_FEATURE_LOGREAD_REDUCED_LOCKING=y
FREETZ_BUSYBOX_FEATURE_LS_COLOR=y
FREETZ_BUSYBOX_FEATURE_LS_FILETYPES=y
FREETZ_BUSYBOX_FEATURE_LS_FOLLOWLINKS=y
FREETZ_BUSYBOX_FEATURE_LS_RECURSIVE=y
FREETZ_BUSYBOX_FEATURE_LS_SORTFILES=y
FREETZ_BUSYBOX_FEATURE_LS_TIMESTAMPS=y
FREETZ_BUSYBOX_FEATURE_LS_USERNAME=y
FREETZ_BUSYBOX_FEATURE_MAKEDEVS_TABLE=y
FREETZ_BUSYBOX_FEATURE_MD5_SHA1_SUM_CHECK=y
FREETZ_BUSYBOX_FEATURE_MKDIR_LONG_OPTIONS=y
FREETZ_BUSYBOX_FEATURE_MOUNT_CIFS=y
FREETZ_BUSYBOX_FEATURE_MOUNT_FAKE=y
FREETZ_BUSYBOX_FEATURE_MOUNT_FLAGS=y
FREETZ_BUSYBOX_FEATURE_MOUNT_FSTAB=y
FREETZ_BUSYBOX_FEATURE_MOUNT_HELPERS=y
FREETZ_BUSYBOX_FEATURE_MOUNT_LABEL=y
FREETZ_BUSYBOX_FEATURE_MOUNT_LOOP=y
FREETZ_BUSYBOX_FEATURE_MOUNT_LOOP_CREATE=y
FREETZ_BUSYBOX_FEATURE_MOUNT_OTHERTAB=y
FREETZ_BUSYBOX_FEATURE_MOUNT_VERBOSE=y
FREETZ_BUSYBOX_FEATURE_MTAB_SUPPORT=y
FREETZ_BUSYBOX_FEATURE_MV_LONG_OPTIONS=y
FREETZ_BUSYBOX_FEATURE_NETSTAT_PRG=y
FREETZ_BUSYBOX_FEATURE_NETSTAT_WIDE=y
FREETZ_BUSYBOX_FEATURE_NOLOGIN=y
FREETZ_BUSYBOX_FEATURE_NON_POSIX_CP=y
FREETZ_BUSYBOX_FEATURE_PASSWD_WEAK_CHECK=y
FREETZ_BUSYBOX_FEATURE_PIDFILE=y
FREETZ_BUSYBOX_FEATURE_PIDOF_OMIT=y
FREETZ_BUSYBOX_FEATURE_PIDOF_SINGLE=y
FREETZ_BUSYBOX_FEATURE_PREFER_IPV4_ADDRESS=y
FREETZ_BUSYBOX_FEATURE_PRESERVE_HARDLINKS=y
FREETZ_BUSYBOX_FEATURE_READLINK_FOLLOW=y
FREETZ_BUSYBOX_FEATURE_REMOTE_LOG=y
FREETZ_BUSYBOX_FEATURE_RMDIR_LONG_OPTIONS=y
FREETZ_BUSYBOX_FEATURE_ROTATE_LOGFILE=y
FREETZ_BUSYBOX_FEATURE_RTMINMAX=y
FREETZ_BUSYBOX_FEATURE_SEAMLESS_BZ2=y
FREETZ_BUSYBOX_FEATURE_SEAMLESS_GZ=y
FREETZ_BUSYBOX_FEATURE_SEAMLESS_LZMA=y
FREETZ_BUSYBOX_FEATURE_SEAMLESS_XZ=y
FREETZ_BUSYBOX_FEATURE_SEAMLESS_Z=y
FREETZ_BUSYBOX_FEATURE_SECURETTY=y
FREETZ_BUSYBOX_FEATURE_SETCONSOLE_LONG_OPTIONS=y
FREETZ_BUSYBOX_FEATURE_SHADOWPASSWDS=y
FREETZ_BUSYBOX_FEATURE_SH_HISTFILESIZE=y
FREETZ_BUSYBOX_FEATURE_SH_MATH=y
FREETZ_BUSYBOX_FEATURE_SH_MATH_64=y
FREETZ_BUSYBOX_FEATURE_SHOW_THREADS=y
FREETZ_BUSYBOX_FEATURE_SH_READ_FRAC=y
FREETZ_BUSYBOX_FEATURE_SKIP_ROOTFS=y
FREETZ_BUSYBOX_FEATURE_SORT_BIG=y
FREETZ_BUSYBOX_FEATURE_STAT_FILESYSTEM=y
FREETZ_BUSYBOX_FEATURE_STAT_FORMAT=y
FREETZ_BUSYBOX_FEATURE_SUID=y
FREETZ_BUSYBOX_FEATURE_SWAPONOFF_LABEL=y
FREETZ_BUSYBOX_FEATURE_SWAPON_PRI=y
FREETZ_BUSYBOX_FEATURE_SYSLOG=y
FREETZ_BUSYBOX_FEATURE_SYSLOGD_DUP=y
FREETZ_BUSYBOX_FEATURE_TAB_COMPLETION=y
FREETZ_BUSYBOX_FEATURE_TAR_CREATE=y
FREETZ_BUSYBOX_FEATURE_TAR_FROM=y
FREETZ_BUSYBOX_FEATURE_TAR_GNU_EXTENSIONS=y
FREETZ_BUSYBOX_FEATURE_TAR_LONG_OPTIONS=y
FREETZ_BUSYBOX_FEATURE_TAR_OLDGNU_COMPATIBILITY=y
FREETZ_BUSYBOX_FEATURE_TAR_OLDSUN_COMPATIBILITY=y
FREETZ_BUSYBOX_FEATURE_TAR_TO_COMMAND=y
FREETZ_BUSYBOX_FEATURE_TAR_UNAME_GNAME=y
FREETZ_BUSYBOX_FEATURE_TASKSET_FANCY=y
FREETZ_BUSYBOX_FEATURE_TEE_USE_BLOCK_IO=y
FREETZ_BUSYBOX_FEATURE_TEST_64=y
FREETZ_BUSYBOX_FEATURE_TFTP_GET=y
FREETZ_BUSYBOX_FEATURE_TFTP_PUT=y
FREETZ_BUSYBOX_FEATURE_TOP_CPU_GLOBAL_PERCENTS=y
FREETZ_BUSYBOX_FEATURE_TOP_CPU_USAGE_PERCENTAGE=y
FREETZ_BUSYBOX_FEATURE_TOP_DECIMALS=y
FREETZ_BUSYBOX_FEATURE_TOP_INTERACTIVE=y
FREETZ_BUSYBOX_FEATURE_TOPMEM=y
FREETZ_BUSYBOX_FEATURE_TOP_SMP_CPU=y
FREETZ_BUSYBOX_FEATURE_TOP_SMP_PROCESS=y
FREETZ_BUSYBOX_FEATURE_TOUCH_NODEREF=y
FREETZ_BUSYBOX_FEATURE_TOUCH_SUSV3=y
FREETZ_BUSYBOX_FEATURE_TRACEROUTE_USE_ICMP=y
FREETZ_BUSYBOX_FEATURE_TRACEROUTE_VERBOSE=y
FREETZ_BUSYBOX_FEATURE_TR_CLASSES=y
FREETZ_BUSYBOX_FEATURE_TR_EQUIV=y
FREETZ_BUSYBOX_FEATURE_UMOUNT_ALL=y
FREETZ_BUSYBOX_FEATURE_UNZIP_CDF=y
FREETZ_BUSYBOX_FEATURE_USE_INITTAB=y
FREETZ_BUSYBOX_FEATURE_USE_SENDFILE=y
FREETZ_BUSYBOX_FEATURE_UTMP=y
FREETZ_BUSYBOX_FEATURE_VERBOSE=y
FREETZ_BUSYBOX_FEATURE_VERBOSE_USAGE=y
FREETZ_BUSYBOX_FEATURE_VI_8BIT=y
FREETZ_BUSYBOX_FEATURE_VI_ASK_TERMINAL=y
FREETZ_BUSYBOX_FEATURE_VI_COLON=y
FREETZ_BUSYBOX_FEATURE_VI_DOT_CMD=y
FREETZ_BUSYBOX_FEATURE_VI_READONLY=y
FREETZ_BUSYBOX_FEATURE_VI_SEARCH=y
FREETZ_BUSYBOX_FEATURE_VI_SET=y
FREETZ_BUSYBOX_FEATURE_VI_SETOPTS=y
FREETZ_BUSYBOX_FEATURE_VI_USE_SIGNALS=y
FREETZ_BUSYBOX_FEATURE_VI_WIN_RESIZE=y
FREETZ_BUSYBOX_FEATURE_VI_YANKMARK=y
FREETZ_BUSYBOX_FEATURE_VOLUMEID_EXFAT=y
FREETZ_BUSYBOX_FEATURE_VOLUMEID_F2FS=y
FREETZ_BUSYBOX_FEATURE_WAIT_FOR_INIT=y
FREETZ_BUSYBOX_FEATURE_WC_LARGE=y
FREETZ_BUSYBOX_FEATURE_WGET_AUTHENTICATION=y
FREETZ_BUSYBOX_FEATURE_WGET_HTTPS=y
FREETZ_BUSYBOX_FEATURE_WGET_LONG_OPTIONS=y
FREETZ_BUSYBOX_FEATURE_WGET_OPENSSL=y
FREETZ_BUSYBOX_FEATURE_WGET_STATUSBAR=y
FREETZ_BUSYBOX_FEATURE_WGET_TIMEOUT=y
FREETZ_BUSYBOX_FEATURE_XARGS_SUPPORT_ARGS_FILE=y
FREETZ_BUSYBOX_FEATURE_XARGS_SUPPORT_CONFIRMATION=y
FREETZ_BUSYBOX_FEATURE_XARGS_SUPPORT_QUOTES=y
FREETZ_BUSYBOX_FEATURE_XARGS_SUPPORT_TERMOPT=y
FREETZ_BUSYBOX_FEATURE_XARGS_SUPPORT_ZERO_TERM=y
FREETZ_BUSYBOX_FGCONSOLE=y
FREETZ_BUSYBOX_FGREP=y
FREETZ_BUSYBOX_FIND=y
FREETZ_BUSYBOX_FLOCK=y
FREETZ_BUSYBOX_FREE=y
FREETZ_BUSYBOX_FSTRIM=y
FREETZ_BUSYBOX_FTPGET=y
FREETZ_BUSYBOX_FTPPUT=y
FREETZ_BUSYBOX_FUSER=y
FREETZ_BUSYBOX_GETOPT=y
FREETZ_BUSYBOX_GREP=y
FREETZ_BUSYBOX_GROUPS=y
FREETZ_BUSYBOX_GUNZIP=y
FREETZ_BUSYBOX_GZIP=y
FREETZ_BUSYBOX_HALT=y
FREETZ_BUSYBOX_HAVE_DOT_CONFIG=y
FREETZ_BUSYBOX_HEAD=y
FREETZ_BUSYBOX_HEXDUMP=y
FREETZ_BUSYBOX_HOSTNAME=y
FREETZ_BUSYBOX_HTTPD=y
FREETZ_BUSYBOX_ID=y
FREETZ_BUSYBOX_IFCONFIG=y
FREETZ_BUSYBOX_IFDOWN=y
FREETZ_BUSYBOX_IFUP=y
FREETZ_BUSYBOX_INCLUDE_SUSv2=y
FREETZ_BUSYBOX_INETD=y
FREETZ_BUSYBOX_INIT=y
FREETZ_BUSYBOX_INSTALL_APPLET_SYMLINKS=y
FREETZ_BUSYBOX_IOCTL_HEX2STR_ERROR=y
FREETZ_BUSYBOX_IOSTAT=y
FREETZ_BUSYBOX_IP=y
FREETZ_BUSYBOX_IPADDR=y
FREETZ_BUSYBOX_IPLINK=y
FREETZ_BUSYBOX_IPNEIGH=y
FREETZ_BUSYBOX_IPROUTE=y
FREETZ_BUSYBOX_IPRULE=y
FREETZ_BUSYBOX_IPTUNNEL=y
FREETZ_BUSYBOX_KILL=y
FREETZ_BUSYBOX_KILLALL=y
FREETZ_BUSYBOX_KILLALL5=y
FREETZ_BUSYBOX_KLOGD=y
FREETZ_BUSYBOX_LFS=y
FREETZ_BUSYBOX_LN=y
FREETZ_BUSYBOX_LOGGER=y
FREETZ_BUSYBOX_LOGIN=y
FREETZ_BUSYBOX_LOGNAME=y
FREETZ_BUSYBOX_LOGREAD=y
FREETZ_BUSYBOX_LONG_OPTS=y
FREETZ_BUSYBOX_LS=y
FREETZ_BUSYBOX_LSOF=y
FREETZ_BUSYBOX_MAKEDEVS=y
FREETZ_BUSYBOX_MD5SUM=y
FREETZ_BUSYBOX_MKDIR=y
FREETZ_BUSYBOX_MKFIFO=y
FREETZ_BUSYBOX_MKNOD=y
FREETZ_BUSYBOX_MKPASSWD=y
FREETZ_BUSYBOX_MKSWAP=y
FREETZ_BUSYBOX_MKTEMP=y
FREETZ_BUSYBOX_MONOTONIC_SYSCALL=y
FREETZ_BUSYBOX_MORE=y
FREETZ_BUSYBOX_MOUNT=y
FREETZ_BUSYBOX_MPSTAT=y
FREETZ_BUSYBOX_MV=y
FREETZ_BUSYBOX_NBDCLIENT=y
FREETZ_BUSYBOX_NC=y
FREETZ_BUSYBOX_NC_110_COMPAT=y
FREETZ_BUSYBOX_NC_EXTRA=y
FREETZ_BUSYBOX_NETCAT=y
FREETZ_BUSYBOX_NETSTAT=y
FREETZ_BUSYBOX_NICE=y
FREETZ_BUSYBOX_NO_DEBUG_LIB=y
FREETZ_BUSYBOX_NOHUP=y
FREETZ_BUSYBOX_NSLOOKUP=y
FREETZ_BUSYBOX_OD=y
FREETZ_BUSYBOX_PASSWD=y
FREETZ_BUSYBOX_PIDOF=y
FREETZ_BUSYBOX_PING=y
FREETZ_BUSYBOX_PING6=y
FREETZ_BUSYBOX_PIVOT_ROOT=y
FREETZ_BUSYBOX_PLATFORM_LINUX=y
FREETZ_BUSYBOX_PMAP=y
FREETZ_BUSYBOX_POWEROFF=y
FREETZ_BUSYBOX_PRINTENV=y
FREETZ_BUSYBOX_PRINTF=y
FREETZ_BUSYBOX_PS=y
FREETZ_BUSYBOX_PSTREE=y
FREETZ_BUSYBOX_PWD=y
FREETZ_BUSYBOX_PWDX=y
FREETZ_BUSYBOX_READLINK=y
FREETZ_BUSYBOX_REALPATH=y
FREETZ_BUSYBOX_REBOOT=y
FREETZ_BUSYBOX_RENICE=y
FREETZ_BUSYBOX_RESET=y
FREETZ_BUSYBOX_RM=y
FREETZ_BUSYBOX_RMDIR=y
FREETZ_BUSYBOX_ROUTE=y
FREETZ_BUSYBOX_SED=y
FREETZ_BUSYBOX_SEQ=y
FREETZ_BUSYBOX_SETCONSOLE=y
FREETZ_BUSYBOX_SETSERIAL=y
FREETZ_BUSYBOX_SHA3SUM=y
FREETZ_BUSYBOX_SHOW_USAGE=y
FREETZ_BUSYBOX_SHUF=y
FREETZ_BUSYBOX_SLEEP=y
FREETZ_BUSYBOX_SMEMCAP=y
FREETZ_BUSYBOX_SORT=y
FREETZ_BUSYBOX_STACK_OPTIMIZATION_386=y
FREETZ_BUSYBOX_STAT=y
FREETZ_BUSYBOX_STTY=y
FREETZ_BUSYBOX_STUN_IP=y
FREETZ_BUSYBOX_SWAPOFF=y
FREETZ_BUSYBOX_SWAPON=y
FREETZ_BUSYBOX_SWITCH_ROOT=y
FREETZ_BUSYBOX_SYNC=y
FREETZ_BUSYBOX_SYSLOGD=y
FREETZ_BUSYBOX_TAIL=y
FREETZ_BUSYBOX_TAR=y
FREETZ_BUSYBOX_TASKSET=y
FREETZ_BUSYBOX_TCPSVD=y
FREETZ_BUSYBOX_TEE=y
FREETZ_BUSYBOX_TEST=y
FREETZ_BUSYBOX_TEST1=y
FREETZ_BUSYBOX_TEST2=y
FREETZ_BUSYBOX_TFTP=y
FREETZ_BUSYBOX_TIME=y
FREETZ_BUSYBOX_TIMEOUT=y
FREETZ_BUSYBOX_TOP=y
FREETZ_BUSYBOX_TOUCH=y
FREETZ_BUSYBOX_TR=y
FREETZ_BUSYBOX_TRACEROUTE=y
FREETZ_BUSYBOX_TRACEROUTE6=y
FREETZ_BUSYBOX_TRUE=y
FREETZ_BUSYBOX_TTY=y
FREETZ_BUSYBOX_UMOUNT=y
FREETZ_BUSYBOX_UNAME=y
FREETZ_BUSYBOX_UNICODE_SUPPORT=y
FREETZ_BUSYBOX_UNIQ=y
FREETZ_BUSYBOX_UNXZ=y
FREETZ_BUSYBOX_UNZIP=y
FREETZ_BUSYBOX_UPTIME=y
FREETZ_BUSYBOX_USE_BB_CRYPT=y
FREETZ_BUSYBOX_USE_BB_CRYPT_SHA=y
FREETZ_BUSYBOX_USERS=y
FREETZ_BUSYBOX_USLEEP=y
FREETZ_BUSYBOX_UUDECODE=y
FREETZ_BUSYBOX_VCONFIG=y
FREETZ_BUSYBOX_VERBOSE_RESOLUTION_ERRORS=y
FREETZ_BUSYBOX_VI=y
FREETZ_BUSYBOX_WC=y
FREETZ_BUSYBOX_WGET=y
FREETZ_BUSYBOX_WHICH=y
FREETZ_BUSYBOX_WHO=y
FREETZ_BUSYBOX_WHOAMI=y
FREETZ_BUSYBOX_WHOIS=y
FREETZ_BUSYBOX_XARGS=y
FREETZ_BUSYBOX_XXD=y
FREETZ_BUSYBOX_XZ=y
FREETZ_BUSYBOX_XZCAT=y
FREETZ_BUSYBOX_YES=y
FREETZ_BUSYBOX_ZCAT=y
FREETZ_TARGET_UCLIBC_1_0_42=y
FREETZ_TARGET_UCLIBC_SUPPORTS_inotify=y
FREETZ_TARGET_UCLIBC_SUPPORTS_libubacktrace=y
FREETZ_TARGET_UCLIBC_REQUIRES_libubacktrace=y
FREETZ_TARGET_BINUTILS_2_38_DEFAULT=y
FREETZ_TARGET_BINUTILS_2_38=y
FREETZ_TARGET_GCC_8=y
FREETZ_TARGET_GCC_4_MIN=y
FREETZ_TARGET_GCC_4_6_MIN=y
FREETZ_TARGET_GCC_4_7_MIN=y
FREETZ_TARGET_GCC_4_8_MIN=y
FREETZ_TARGET_GCC_4_9_MIN=y
FREETZ_TARGET_GCC_5_MIN=y
FREETZ_TARGET_GCC_8_MIN=y
FREETZ_TARGET_GCC_8_MAX=y
FREETZ_TARGET_GCC_9_MAX=y
FREETZ_TARGET_GCC_DEFAULT_AS_NEEDED=y
FREETZ_STDCXXLIB_USE_UCLIBCXX=y
FREETZ_STDCXXLIB_USE_UCLIBCXX_CHOICE=y
FREETZ_TARGET_UCLIBC_1=y
FREETZ_GNULIBATOMIC_VERSION="1.2.0"
FREETZ_GNULIBSTDCXX_VERSION="6.0.25"
FREETZ_STDCXXLIB="uclibcxx"
FREETZ_TARGET_CFLAGS="-Ofast -pipe"
FREETZ_RPATH="/usr/lib/freetz"
FREETZ_TARGET_UCLIBC_REDUCED_LOCALE_SET=y
FREETZ_TARGET_UCLIBC_PROVIDES_SSP=y
FREETZ_ROOTEMU_PSEUDO=y
FREETZ_HOSTTOOLS_DOWNLOAD=y
FREETZ_MENUCONFIG_REVISION=y
FREETZ_VERBOSITY_LEVEL_2=y
FREETZ_VERBOSITY_LEVEL=2
FREETZ_SIZEINFO_COMPRESSED=y
FREETZ_JLEVEL=0
FREETZ_CHECK_CHANGED=y
FREETZ_FWMOD_VALIDATE=y
FREETZ_FWMOD_SIGN=y
FREETZ_FWMOD_SIGN_PASSWORD="freetz"
FREETZ_SQUASHFS_BLOCKSIZE_65536=y
FREETZ_SQUASHFS_BLOCKSIZE=65536
FREETZ_STRIP_BINARIES=y
FREETZ_STRIP_MODULES_FREETZ=y
FREETZ_DL_SITE_USER=""
FREETZ_DL_VCS_REPO_FIRST=y
FREETZ_DL_VCS_FROM_MIRRORS=y
FREETZ_DL_TOOLCHAIN_SITE=""
